html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/**
	TYPOGRAPHY
**/
body {
	font: 400 100% Roboto, sans-serif;
}

h2 {
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	color: #f42;
	margin-top: 50px;
	margin-bottom: 20px;
}

h2:hover {
	color: black;
	cursor: pointer;
}

/**
	LINKS
**/
a {
	text-decoration: none;
	color: black;
}

/**
	TOP NAV
**/

.header-nav {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 10;
}

.header-nav__links {
	background-color: white;
}

.top-half-nav {
	background-color: black;
}

.bot-half-nav {
	height: 50px;
	position: relative;
}

.top-half-nav li,
.bot-half-nav li {
	display: inline-block;
}

.top-half-nav li {
	padding: 6px 8px;
}

.top-half-nav ul:first-child li:first-child {
	padding-left: 17px;
}

.bot-half-right-nav {
	width: 100%;
}


.bot-half-nav li {
	padding: 15px 10px;
}

.bot-half-nav ul:first-child li:first-child {
	padding-left: 17px;
}

.bot-half-nav i {
	color: rgba(0, 0, 0, 0.5);
}

.top-half-nav a,
.bot-half-nav a {
	color: gray;
}

.top-half-nav a {
	font-size: 12px;
}

.bot-half-nav a {
	font-size: 13px;
}

.top-half-nav a:hover {
	color: white;
}

.bot-half-nav a:hover {
	color: black;
}

.logo {
	display: block;
	background: -webkit-linear-gradient(to bottom right, darkmagenta, orangered);
	background:    -moz-linear-gradient(to bottom right, darkmagenta, orangered);
	background: 		linear-gradient(to bottom right, darkmagenta, orangered);
	width: 105px;
	height: 100%;
	padding: 16px 19px 15px 19px;
}

.fa-search {
	padding: 17px;
	opacity: .4;
}

.fa-search:hover {
	opacity: .6;
	cursor: pointer;
}

.menu-box {
	width: 45px;
	display: inline-block;
	padding: 18px 0;
}

.menu-box:hover {
	cursor: pointer;
}

.line {
	width: 47%;
	margin: 0 auto;
	height: 2px;
	background-color: orangered;
	border-radius: 2px;
}

.line:not(:last-child) {
	margin-bottom: 4px;
}

.nav-item {
	height: 100%;
	vertical-align: top;
	border-left: 1px solid lightgray;
}

.tnw-conf {
	width: 100%;
	background-color: #fd3;
	padding: 5px 0;
	font-size: .9em;
}

header {
	margin-top: 81px;
}

/**
	BIG LINKS
**/
h1 {
	background: linear-gradient(165deg, crimson 15%, transparent 70%, transparent 100%);
	background-repeat: no-repeat;
	height: 100%;
	display: none;
}

h1 img {
	position: relative;
	left: 20px;
	top: 20px;
	width: 55%;
	height: 30%;
}

.big-links {
	padding: 0 8px;
}

.big-link__text {
	position: absolute;
	bottom: 15px;
	left: 10px;
}

.big-link h4 {
	color: white;
	font-size: 13px;
}

.big-link h3 {
	font-size: 24px;
	font-weight: 700;
	color: white;
}

.big-link p {
	color: gray;
	font-size: 13px;
}

.big-link a {
	color: gray;
}

header .big-link {
	width: 100%;
	height: 175px;
	margin-bottom: 8px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

header .big-link:first-child {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
					  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/Chrome-PiP-796x418.jpg);
}

header .big-link:nth-child(2) {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
					  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/4432787411_540285e5a6_o-796x531.jpg);
}

header .big-link:last-child {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
					  url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/07/OnePlus-6-Red-3-of-6-796x417.jpg);
}

/*.big-link-section .big-link {
	height: 400px;
	margin: 0 0 2px 0;
}*/

.big-link__img {
	position: relative;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.big-link-section:nth-of-type(1) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/nkbitcoin-368x276.jpg);

}

.big-link-section:nth-of-type(2) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/Twitter-Removal-368x276.jpg);
}

.big-link-section:nth-of-type(3) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/Tesla_Model_3-368x276.jpg);
}

.big-link-section:nth-of-type(4) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/Untitled-design-7-3-368x276.png);
}

.big-link-section:nth-of-type(5) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/wezdrbhdnbz-368x276.jpg);
}

.big-link-section:nth-of-type(6) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/stock-image-68605075-xl-2015-1-368x276.jpg);
}

.big-link-section:nth-of-type(7) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/nkbitcoin-368x276.jpg);
}

.big-link-section:nth-of-type(8) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/chinaeth-368x276.jpg);
}

.big-link-section:nth-of-type(9) .big-link__img {
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0)),
				url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/10/Games-to-distract-from-death-368x276.jpg);
}

.big-link__footer img {
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 2px;
}

.big-link__footer {
	background-color: rgba(255, 68, 34, .01);
	height: 100px;
}

.big-link__footer h4,
.big-link__footer a {
	color: #f42;
	padding-left: 15px;
}

.big-link__footer h4 {
	padding-top: 10px;
}

.big-link__footer a {
	font-weight: bold;
	font-size: 14px;
}

.big-link__links {
	margin-left: 25px;
	list-style-type: disc; 
	list-style-image: url(dot.png);
}

.big-link__links li {
	padding: 7px 0;
	border-bottom: 1px solid lightgray;
}

.big-link__links a {
	font-size: 12px;
	color: gray;
}

.big-link__links a:hover {
	color: black;
}

/***************************************************
					MAIN SECTION
***************************************************/
main {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

/**
	MINI LINKS
**/

.mini-link {
	margin-bottom: 10px;
}

.mini-link img {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
}

.mini-link h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

.mini-link p,
.mini-link p a {
	font-size: 13px;
	color: lightgray;
}

p.price {
	color: black;
}

.price span {
	color: lightgray;
	text-decoration: line-through;
}

.deals {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: right;
	color: #f42;
	font-size: 15px;
	margin-top: -49px;
}

.mini-links > a:hover {
	color: black;
}

/**
	INDEXES
**/
.index {
	margin-bottom: 25px;
}

.indexes li {
	margin-bottom: 5px;
}

.indexes a {
	font-size: 14px;
	color: #f42;
}

.index:nth-of-type(1) {
	margin-top: 20px;
}

.index img {
	width: 70px;
	float: left;
	margin: 15px;
}

.index h3 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: #f42;
	max-height: 44px;
}

.info {
	background-color: rgba(255, 68, 34, .08);
}

.money {
	font-weight: bold;
}

.type {
	font-size: 12px;
	color: gray;
}

.category {
	font-size: 13px;
}

.categories {
	padding: 10px;
	background: rgba(255, 68, 34, .01);
	border-bottom: 1px solid rgba(255, 68, 34, .2);
}

.extra {
	padding-left: 10px;
	font-size: 12px;
	background: rgba(255, 68, 34, .01);
}

.extra a {
	color: gray;
}

/**
	FOOTER
**/
.footer-top {
	text-align: center;
	background-color: #131313;
	height: 150px;
}

.social-media-links li,
.footer-nav li {
	display: inline-block;
}

.footer-nav li:not(:last-child) {
	margin-right: 5px;
}

.social-media-links {
	padding: 30px 0;
	color: white;
}

.social-media-links li {
	border-radius: 50%;
	background-color: #333;
	padding: 10px 12px;
}

.social-media-links li:not(:last-child) {
	margin-right: 2px;
}

.footer-top a {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
}

.footer-bottom {
	background-color: black;
	color: gray;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 35px 0;
}

.footer-bottom a {
	color: white;
}

.footer-bottom img {
	width: 30px;
}

.heart {
	color: red;
}

/**
	HELPER CLASSES

**/
.right {
	float: right;
}

.left {
	float: left;
}

.text-center {
	text-align: center;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.vert-pad-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vert-pad-md {
	padding-top: 20px;
	padding-bottom: 20px;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 768px) {
	/**
		TOP NAV
	**/
	.logo {
		padding: 32px 19px 29px 19px;
	}

	.menu-box {
		display: none;
	}

	.top-half-nav {
		display: flex;
		justify-content: space-between;
	}

	.bot-half-nav ul:first-child {
		display: inline-block;
		position: absolute;
	}

	.bot-half-right-nav {
		width: 200px;
		min-width: 200px;
		position: absolute;
		right: 0;
		z-index: 5;
		background: white;
	}

	.tnw-conf {
		text-align: left;
		padding-left: 120px;
	}

	/**
		BIG LINKS
	**/
	.big-links {
		height: 300px;
	}

	header .big-link:first-child {
		float: left;
		margin-right: 1%;
		width: 64%;
		height: 100%;
	}

	header .big-link:not(:first-child) {
		float: right;
		width: 35%;
		height: 49%;
	}
	/**
		MINI LINKS
	**/
	.mini-links {
		display: flex;
		flex-wrap: wrap;
	}

	.mini-link {
		width: 31.33%;
		margin-bottom: 20px;
	}

	.mini-link:not(:nth-child(3n)) {
		margin-right: 2.5%;
	}

	.mini-link img {
		width: 100%;
		height: 120px;
		margin-bottom: 10px;
		margin-right: 0;
	}

	.mini-link h3,
	.mini-link p {
		display: block;
	}

	/**
		INDEXES
	**/
	.indexes {
		display: flex;
		flex-wrap: wrap;
	}

	.index {
		width: 31.33%;
	}

	.index:first-child {
		margin-top: 0;
	}

	.index:not(:nth-child(3n)) {
		margin-right: 2.5%;
	}

	.index-links {
		width: 100%;
		display: flex;
		margin-bottom: 15px;
	}

	.index-links li:not(:first-child) {
		padding-left: 15px;
	}

	.index-links li:not(:last-child) {
		padding-right: 15px;
		border-right: 1px solid #f42;
	}

	/**
		BIG LINKS SECTION
	**/
	.big-link-sections {
		display: flex;
		flex-wrap: wrap;
	}

	.big-link-section {
		width: 47%;
	}

	.big-link-section:not(:nth-of-type(even)) {
		margin-right: 3%;
	}

	/**
		BOTTOM MINI LINKS
	**/
	.mini-links-bottom img {
		height: 200px;
	}

	/**
		FOOTER
	**/
	.social-media-links li:not(:last-child),
	.footer-nav li:not(:last-child) {
		margin-right: 15px;
	}

	.footer-bottom p {
		display: inline-block;
	}
}

@media only screen and (min-width: 1024px) {
	/**
		HEADER/NAV
	**/
	.logo {
		display: none;
	}

	.tnw-conf {
		padding-left: 17px;
	}

	h1 {
		display: block;
	}

	.big-links {
		height: 465px;
	}

	/**
		MINI LINKS
	**/
	.mini-link {
		width: 23.5%;
	}

	.mini-link:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.mini-link:not(:nth-child(4n)) {
		margin-right: 2%;
	}

	/**
		INDEXES
	**/

	.index {
		width: 23.5%;
	}

	.index:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.index:not(:nth-child(4n)) {
		margin-right: 2%;
	}

	.index:last-child {
		display: block;
	}

	/**
		BIG LINK SECTION
	**/
	.big-link-section {
		width: 31.33%;
	}

	.big-link-section:not(:nth-child(2n)) {
		margin-right: 0;
	}

	.big-link-section:not(:nth-child(3n)) {
		margin-right: 2.5%;
	}
}